<!DOCTYPE html>
<html>
<head>
  <title>NASA Task Load Index (TLX) Survey</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Task Load Index (TLX) Survey</h1>

    <h2><span, style="color:green;"> 0 is very LOW, and 100 is very High </span> </h2>

    <form action="/submit_survey" method="post">
        <div class="tlx-question">
          <label for="mental_demand"><strong>Mental Demand:</strong> How mentally demanding was the task?</label><br>
          <input type="range" id="mental_demand" name="mental_demand" min="0" max="100"><span class="range-value" id="mental_demand_value">50</span>
        </div><br>
  
        <div class="tlx-question">
          <label for="physical_demand"><strong>Physical Demand:</strong> How physically demanding was the task?</label><br>
          <input type="range" id="physical_demand" name="physical_demand" min="0" max="100"><span class="range-value" id="physical_demand_value">50</span>
        </div><br>
  
        <div class="tlx-question">
          <label for="temporal_demand"><strong>Temporal Demand:</strong> How hurried or rushed was the pace of the task?</label><br>
          <input type="range" id="temporal_demand" name="temporal_demand" min="0" max="100"><span class="range-value" id="temporal_demand_value">50</span>
        </div><br>
  
        <div class="tlx-question">
          <label for="performance"><strong>Performance:</strong> How successful were you in accomplishing what you were asked to do?</label><br>
          <input type="range" id="performance" name="performance" min="0" max="100"><span class="range-value" id="performance_value">50</span>
        </div><br>
  
        <div class="tlx-question">
          <label for="effort"><strong>Effort:</strong> How hard did you have to work to accomplish your level of performance?</label><br>
          <input type="range" id="effort" name="effort" min="0" max="100"><span class="range-value" id="effort_value">50</span>
        </div><br>
  
        <div class="tlx-question">
          <label for="frustration"><strong>Frustration:</strong> How insecure, discouraged, irritated, stressed, and annoyed were you?</label><br>
          <input type="range" id="frustration" name="frustration" min="0" max="100"><span class="range-value" id="frustration_value">50</span>
        </div><br>
  
        <input type="submit" value="Submit">
      </form>
    </div>
    <script>
      // This JavaScript code updates the displayed value as the user moves the slider.
      var rangeInputs = document.querySelectorAll('input[type="range"]');
      rangeInputs.forEach(function(input) {
        input.addEventListener