<link rel="stylesheet" href="{{ url_for('static', filename='video_format.css') }}"/>
<style>
  div.main{
    max-width: 700px;
    margin: 20px auto;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 5px 30px 20px 30px;
  }
  div.error{
    color: red;
  }
</style>
<div class="main">
  <div>
    <h1>
      <span style="color:green;"> Task 2: Pour to the cup  </span>
      </h1>
    <!-- <h2>Tufts University - Task Description and Controls</h2>
      <h3>Virtual Agents learning from human interaction</h3> -->
    <!-- <p>
Below is a description of the task you will be asked to complete for this study:
</p> -->
<p>
<h4>What is the task?</h4>
The goal of the robot is to
<span style="color:red;"> move the cup  </span>
to a desired location (another cup), and 
<span style="color:red;">pour the jelly ball </span>
in the cup to another cup.</p>


<p>

  <h4>What is your task?</h4>
  <!-- You will be teaching the robot by rating the performance of a robot as it attempts to press a button. 
  For a well-trained robot, it should be able to press the button quickly and reliably. -->
  You will watch several short videos of a robot performing the task and rate the robot's performance.
  
  <h4>How to rate the robot?</h4>
  You will be rating the robot's performance based on the robot's performance on a scale of 0 to 100, 
  where <span style="color:blue;"> 0 means the robot's behaviors are totally wrong </span>, and <span style="color: blue;"> 100 means the robot's behaviors are perfect</span> .
</p>


<h1>A demo of human performing the task</h1>
<div class="Shared-Video-player">
<video id="Shared-Video" width="640" height="480" controls autoplay ><source src={{ url_for('static', filename="human_pouring.mp4") }} type="video/mp4"></video>
</div>
 <div>
  <form action="/training" method="post">
    0 totally wrong
    <label for="score">Evaluation (0-100):</label>
    <input type="number" id="score" name="score" min="0" max="100" required>
    <input type="submit" value="Submit Score">
    100 is perfect
  </form>
  </form>
  <p>Try out the input box here. Each time you enter progress on this page, the page will reload.
    During the experiment,
    the progress will not display: the next step of robot motion to rate will play instead.</p>
    <h2>Last progress Entered: {{progress}}</h2>
</div>

    </p>



    <p>
<h4>Duration</h4>
The interaction will last for approximately 4 minutes, and consists 30 short videos in total.
 After all the steps of the final episode, the feedback window will close and you will be prompted to complete the study.
    </p>

<form action="/continuetofeedback" method="post">
  <input type="checkbox" id="info" name="info" value="true">
  <label for="info">I have read the above and will act in good faith to complete the objectives described above.</label><br><br>
  <input type="submit" value="Submit"></input>
</form>
<!-- {%if missing_data%}
<div class="error">
  Please confirm your consent and sign before submitting.
</div>
{% endif %} -->


<!-- Required content -->
<br>
The Tufts computer science department is committed to making its digital environment accessible to all users, and welcomes comments or suggestions on access improvements.  Please send comments or suggestions on accessibility to the aabl_participants@cs.tufts.edu.
<br>
<a href="https://oeo.tufts.edu/policies-procedures/non-discrimination-statement/">Tufts non-discrimination statement</a><br>
<a href="https://www.tufts.edu/about/privacy">Tufts privacy and terms of use statements</a>



</div>
